#kuangjia
{
    width: 330px;
    height: 50px;
    border: 1px solid   #cccccc;
}
#left
{
    width: 50px;
    height: 50px;
    float: left;
}
#right
{
    float: left;
    width: 279px;
    height: 49px;
}
#right input
{
    height: 98%;
    width: 100%;
    border: none;
    line-height: 49px;
}
#kuangjia:active
{
    border: 2px solid green;
}