#srhk{
    width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("images/bg.jpg");
    border: 1px solid red;
    margin: auto;
}
#Top{
    padding: 40px 0 0 120px;
    font-size: 30px;
    font-weight: bolder;
}
.left{
    height: 80px;
    width: 200px;
    padding: 20px 0 0 80px;
    font-size: 20px;
    font-family:幼圆;



}