*
{
    margin: 0;
    padding: 0;
}
#zhengti
{
    width: 800px;
    height: 500px;
    margin: auto;
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#top
{
   height: 30px;
   background: red;
}
#top ul li
{
    list-style: none;
    line-height: 30px;
    width: 190px;
    float: left;
    text-align: center;

}
ul li ol
{
    width:200px;
    /*height: 300px;*/
    border: 1px solid red;
    background-color: white;
    opacity: 0.7;
    margin:auto;

    display: none;

}
ul li ol li
{
    border: 1px solid red;
    width: 140px;
    border-radius: 10px;
    margin-top: 5px;

}
ul li ol li:hover
{
    background-color: red;

}
ul li:hover ol
{
    display: block;
}

